In [1]:
import pandas as pd
import numpy as np
  
data = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [2]:
data.dropna(inplace=True)
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df=pd.get_dummies(data,columns=['gender','ever_married','work_type','Residence_type','smoking_status'])
df

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,228.69,36.6,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,31112,80.0,0,1,105.92,32.5,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
3,60182,49.0,0,0,171.23,34.4,1,1,0,0,...,0,1,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,174.12,24.0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
5,56669,81.0,0,0,186.21,29.0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,13.0,0,0,103.08,18.6,0,1,0,0,...,0,0,0,1,1,0,1,0,0,0
5106,44873,81.0,0,0,125.20,40.0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0
5107,19723,35.0,0,0,82.99,30.6,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
5108,37544,51.0,0,0,166.29,25.6,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
5109,44679,44.0,0,0,85.28,26.2,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0

In [4]:
df.columns

Index(['id', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'bmi', 'stroke', 'gender_Female', 'gender_Male', 'gender_Other',
       'ever_married_No', 'ever_married_Yes', 'work_type_Govt_job',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [5]:
x = df[['age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'bmi', 'gender_Female', 'gender_Male', 'gender_Other',
       'ever_married_No', 'ever_married_Yes', 'work_type_Govt_job',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes']]
y = df[['stroke']]

In [6]:
x

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,1,0,0,1,0,...,0,0,0,1,1,0,1,0,0,0
5106,81.0,0,0,125.20,40.0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0
5107,35.0,0,0,82.99,30.6,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.6,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
5109,44.0,0,0,85.28,26.2,1,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0

In [7]:
y

      stroke
0          1
2          1
3          1
4          1
5          1
...      ...
5104       0
5106       0
5107       0
5108       0
5109       0

[4909 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split  

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= .3)

In [19]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
from sklearn.metrics import accuracy_score
print("Acurracy score of NB when test size is 0.2:",accuracy_score(y_test,y_pred))

0.41615750169721655

In [21]:
from sklearn.linear_model import LogisticRegression

regressor = LogisticRegression()
regressor.fit(x_train, y_train)

y_pred_lr=regressor.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_lr)

C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\debom\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9585879158180584

In [22]:
from sklearn.preprocessing import StandardScaler
 
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)

scaled_df = pd.DataFrame(scaled_data,columns=df.columns)
print(scaled_df.head())

         id       age  hypertension  heart_disease  avg_glucose_level  \
0 -1.334653  1.070138     -0.318067       4.381968           2.777698
1 -0.283539  1.646563     -0.318067       4.381968           0.013842
2  1.101211  0.272012     -0.318067      -0.228208           1.484132
3 -1.686247  1.602222      3.143994      -0.228208           1.549193
4  0.933870  1.690903     -0.318067      -0.228208           1.821368

        bmi    stroke  gender_Female  gender_Male  gender_Other  ...  \
0  0.981345  4.742155      -1.199942     1.200447     -0.014274  ...
1  0.459269  4.742155      -1.199942     1.200447     -0.014274  ...
2  0.701207  4.742155       0.833374    -0.833023     -0.014274  ...
3 -0.623083  4.742155       0.833374    -0.833023     -0.014274  ...
4  0.013595  4.742155      -1.199942     1.200447     -0.014274  ...

   work_type_Never_worked  work_type_Private  work_type_Self-employed  \
0               -0.067095           0.863918                -0.432978
1               -0.067095           0.863918                -0.432978
2               -0.067095           0.863918                -0.432978
3               -0.067095          -1.157518                 2.309587
4               -0.067095           0.863918                -0.432978

   work_type_children  Residence_type_Rural  Residence_type_Urban  \
0           -0.397906             -0.985640              0.985640
1           -0.397906              1.014569             -1.014569
2           -0.397906             -0.985640              0.985640
3           -0.397906              1.014569             -1.014569
4           -0.397906             -0.985640              0.985640

   smoking_status_Unknown  smoking_status_formerly smoked  \
0               -0.657926                        2.205673
1               -0.657926                       -0.453376
2               -0.657926                       -0.453376
3               -0.657926                       -0.453376
4               -0.657926                        2.205673

   smoking_status_never smoked  smoking_status_smokes
0                    -0.778346              -0.420302
1                     1.284775              -0.420302
2                    -0.778346               2.379241
3                     1.284775              -0.420302
4                    -0.778346              -0.420302

[5 rows x 23 columns]

In [23]:
x2 = scaled_df[['age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'bmi', 'gender_Female', 'gender_Male', 'gender_Other',
       'ever_married_No', 'ever_married_Yes', 'work_type_Govt_job',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Rural',
       'Residence_type_Urban', 'smoking_status_Unknown',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes']]
y2 = df[['stroke']]

In [24]:
from sklearn.model_selection import train_test_split  

x_train, x_test, y_train, y_test= train_test_split(x2, y2, test_size= .3)

In [25]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.30685675492192804

In [27]:
from sklearn.linear_model import LogisticRegression

regressor = LogisticRegression()
regressor.fit(x_train, y_train)

y_pred_lr=regressor.predict(x_test)

C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_lr)

0.9633401221995926

In [35]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= .2)

model=GaussianNB()
model.fit(x_train,y_train)

y_pred_nb=model.predict(x_test)
accuracy_score(y_test,y_pred_nb)
print('Accuracy of NB',accuracy_score(y_test,y_pred_nb))      

regressor = LogisticRegression()
regressor.fit(x_train, y_train)

y_pred_lr=regressor.predict(x_test)
print('Accuracy of Logistic',accuracy_score(y_test,y_pred_lr))

Accuracy of NB 0.4215885947046843
Accuracy of Logistic 0.9501018329938901

C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\debom\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\debom\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(